---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?q=squirrels&type=application
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - ! '"e6a12c2a5024b0d6054fc09a3c67f1cd6563484f"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"Squirrels tragedy","namespace":"squirrelsgame","id":"106813929457679"},{"name":"Squirrels","namespace":"squirrelsunity","id":"566680176678528"},{"name":"Squirrels_test","namespace":"squirrels_eng_test","id":"105590599578061"},{"name":"Squirrels_test_japan","namespace":"squirrels_test_japan","id":"569598033054294"},{"name":"Squirrels","namespace":"realgames_squirrels","id":"285154164922872"},{"name":"Happy
        Squirrels","namespace":"happysquirrels","id":"144115405729155"},{"name":"International
        Racing Squirrels","id":"160876033979298"},{"name":"Squirrels Tickets","id":"350332901654976"}],"paging":{"next":"https:\/\/graph.facebook.com\/search?q=squirrels&type=application&limit=25&offset=25&__after_id=350332901654976"}}'
  recorded_at: Fri, 17 May 2013 20:31:30 GMT
- request:
    method: get
    uri: https://graph.facebook.com/106813929457679/picture?redirect=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - ! '"0a259cd9011392c8b37a21a0e0f71c63601c0f09"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"url":"https:\/\/fbcdn-photos-c-a.akamaihd.net\/photos-ak-snc7\/v85006\/59\/106813929457679\/app_1_106813929457679_873551678.gif"}}'
  recorded_at: Fri, 17 May 2013 20:31:31 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/350332901654976/picture?redirect=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - ! '"8249b5eeecae69de59c201053423d70d4f1c6626"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"url":"https:\/\/fbcdn-photos-b-a.akamaihd.net\/photos-ak-snc7\/v85005\/72\/350332901654976\/app_1_350332901654976_1514453140.gif"}}'
  recorded_at: Fri, 17 May 2013 20:31:34 GMT
recorded_with: VCR 2.4.0
