// Place all the styles related to the FbSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: verdana;
}

table {
  border-collapse: collapse;
  td, th {
    padding: 1em;
    border: 0.1em solid black;
  }
  th {
    background-color: gray;
  }
  .modal {
    box-shadow: 2em 2em 2em black;
    background-color: gray;
  }
}
