// Place all the styles related to the FbSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: verdana;
}

table {
  border-collapse: collapse;
  width: 100%;
  td, th {
    padding: 1em;
    border: 0.1em solid black;
  }
  th {
    background-color: gray;
  }
  td.user {
    width: 20em;
    img {
      float: left;
      margin-right: 1em;
    }
  }
  td.post {
    img {
      float: right;
      margin: 1em;
    }
  }
  .modal {
    display: none;
    box-shadow: 1em 1em 1em gray;
    background-color: lightblue;
    border-radius: 1em;
    padding: 1em;
  }
}

span.error {
  font-size: 0.75em;
  color: red;
  list-style-type: none;
}

div.field_with_errors {
  display: inline;
}
