<h1>Recent Searches</h1>
<%= link_to 'Back to new search', new_fb_search_path %><br />
<ul>
  <% @fb_searches.each do |search| %>
    <li>
    <%= link_to search.keywords, fb_search_path(search) %>
    (<%= search.frequency %>)
    <%= link_to 'remove', search, :method => :delete, :confirm => "Delete search from history?" %>
    </li>
  <% end %>
</ul>
